python-telegram-bot==21.4
pinecone-client==5.0.1
mistralai==1.2.0
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
transformers==4.45.1
accelerate==0.34.2
PyMuPDF==1.24.10        
tiktoken==0.8.0
pandas==2.2.3
Pillow==10.4.0
nest-asyncio==1.6.0
python-dotenv==1.0.1